*.lst   
*.tmp
*.cof   
*.cod   
*.o  
*.map   
*.mcs   
*.err   
*.i   
*.hex   
*.rar   
*.img   
*.crf
*.d
*.axf
*.bak
*.htm
*.lnp
*.uvgui*.* 
*.dep
*.pre
*.p1
*.mk 
*.cmf 
*.properties 
*.bash 
*.cfg
build/
html/
latex/
[Bb]in/
[Ob]bj/
[Dd]ebug/
[Rr]elease/
[Dd]efault/
.metadata/
workspace/
RemoteSystemsTempFiles/

